#body{
	background-color: darkcyan;
}

	br {
	display: block;
	margin: 3px ;

	content: " ";
}

form label { display: block; }

#welcome{
	width: 600px;
	height: 400px;
	margin-left: auto;
  margin-right: auto;
	margin-top: 100px;

}

#image {
	width: 340px;
	height: 400px;
	float: left;
	background-color: black;
	margin-right: 10px;

}
#signin{
	width: 250px;
	height: 133px;
	float: left;
	text-align: left;
	/*background-color: green;*/


}

#signup{
	width: 250px;
	height: 257px;
	float: left;
	text-align: right;
	/*background-color: blue;*/


}

.column{
	  float: left;
		text-align: left;
}

.left {
    width: 25%;

}

.right {
    width: 75%;
}

.tabs{
	width: 910px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;

}

.tab{
	width: 300px;
	height: 20px;
	float: left;
	text-align: center;
	padding-top: 4px;
	background-color: darkmagenta;
	border: 1px solid black;
	font-weight: bold;
	font-size: large;
}

.tab a:hover{
	background-color: orangered;
}

.panels{
	width: 910px;
	margin-left: auto;
	margin-right: auto;

}

.panel{
	width: 300px;
	height: 300px;
	border: 1px solid black;
	float: left;
	display: none;
}

.titles{
	font-weight: bold;
	font-size: large;
}
