#body{
	background-color: darkcyan;
}

#welcome{
	width: 600px;
	height: 400px;
	margin-left: auto;
  margin-right: auto;
	margin-top: 100px;
	border: 1px solid black;
}

#image {
	max-width: 100%;
	width: 340px;
	height: 400px;
	float: left;
	/*background-color: black;*/
	margin-right: 10px;

}
#signin{
	width: 250px;
	height: 120px;
	float: left;
	background-color: white;
	margin-bottom: 10px;
}

#signup{
	width: 250px;
	height: 270px;
	float: left;
	background-color: white;
}

.header{
	text-align: center;
	padding: 5px;
	font-size: 20px;
}

.row{
    width: 95%;
    display: inline-block;
    margin-bottom: 1px;
    padding-left: 3px;
}

.row input{
    float: right;
    width: 150px;
    padding-right: 3px;
}
.row select{
    float: right;
    width: 150px;
}

.tabs{
	width: 910px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.tab{
	width: 300px;
	height: 20px;
	float: left;
	text-align: center;
	padding-top: 4px;
	background-color: darkmagenta;
	border: 1px solid black;
	font-weight: bold;
	font-size: large;
}

#homePanel {
	display: flex;
	flex-direction: row;
}

.panels{
	width: 910px;
	margin-left: auto;
	margin-right: auto;

}

.panel{
	padding-left: 5px;
	width: 899px;
	height: 600px;
	border: 1px solid black;
	float: left;
	background-color: lavender;
}

.float{
	height: 200px;
	width: 300px;
	text-align: center;
	margin-top: 20px;
}

#homeWall{
	border: 1px solid black;
	height: 268px;
	width: 100%;
	overflow:auto;
}

#chart{
	float: left;
	width: 300px;
	height: 200px;
	flex-direction: row;
}

#browseWall{
	border: 1px solid black;
	height: 268px;
	width: 100%;
	overflow:auto;
}

.titles{
	font-weight: bold;
	font-size: large;
}

#displayUser{
	display: none;
	flex-direction: column;
}

#displayWall{
	display: none;
	flex-direction: column;
}

#displayText{
	display: none;
	flex-direction: column;
}
